<div class="span3">
    <div class="input-append">
        <form method="GET" action="~/Home/Busca/">
            <input class="span9" id="busca" name="busca" type="text" value="@ViewBag.busca">
            <button class="btn" type="submit">Go!</button>
        </form>
    </div>
</div>
